.FINDME{
    display: flex;
    font-family: 'Dongle';
    font-size: 8.5vh;
    color: #F3B700;
    justify-content: center;
}

.backbtn{
    display: flex;
    justify-content: left;
}

.QButton {
    display: inline-block;
    box-shadow: 0.5vh 0.5vh 0vh 0vh #222222; /* 그림자 */
    border-radius: 4vh; /* 둥근 모서리 */
    border: 0.6vh solid #222222; /* 테두리 */
    background-color: #FF9F1C; /* 배경색 */
    width: 100vh;
    height: 10vh;
    justify-content: center;
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
    margin: 5vh 0vh 0vh 50vh;
    line-height: 10vh; /* 텍스트 수직 중앙 정렬을 위해 추가 */

    font-family: 'Inter';
    font-weight: bold;
    font-size: 4vh;
    color: #FFFFFF;
    padding-top: 1vh; /* 텍스트를 5px 아래로 이동 */
    display: inline-block; /* padding-top 적용을 위해 추가 */
  }

  .AButton, .BButton {
    display: inline-block;
    box-shadow: 0.5vh 0.5vh 0vh 0vh #222222; /* 그림자 */
    border-radius: 4vh; /* 둥근 모서리 */
    border: 0.6vh solid #222222; /* 테두리 */
    background-color: #F3BF70; /* 배경색 */
    width: 80vh;
    height: 10vh;
    justify-content: center;
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
    font-family: 'Inter';
    font-weight: bold;
    font-size: 4vh;
    color: #FFFFFF;
    padding-top: 1vh; /* 텍스트를 1vh 아래로 이동 */
    line-height: 10vh; /* 텍스트 수직 중앙 정렬 */
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .AButton {
    margin: 7vh 0vh 0vh 60vh;
  }
  
  .BButton {
    margin: 2vh 0vh 0vh 60vh;
  }

  .num {
    word-break: break-word; /* 텍스트 줄바꿈 처리 */
    font-family: 'Inter'; /* 폰트 설정 */
    font-weight: bold; /* 폰트 굵기 */
    font-size: 3vh; /* 폰트 크기 */
    line-height: 2.726; /* 줄 높이 */
    color: #000000; /* 글자 색상 */
    text-align: center;
  }

  .lleftVectortp12 {
    position: absolute; /* 부모 컨테이너를 기준으로 절대 위치 설정 */
    bottom: 22vh; /* 부모 컨테이너의 아래쪽에 배치 */
    left: 33vh; /* 부모 컨테이너의 왼쪽에 배치 */
    width: 23vh; /* 원하는 너비로 조정 */
    height: 20vh; /* 원하는 높이로 조정 */
  }
  
  .lrightVectortp12 {
    position: absolute;
    bottom: 13vh;
    left: 52vh;
    width: 18vh;
    height: 15vh;
  }