/* App.css */
body {
  font-family: 'Inter', sans-serif;
}

.find-me {
  word-break: break-word;
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0.2px;
  line-height: 0.375;
  color: #F3B700;
}

.details-2826054 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: -1px;
  line-height: 1.501;
  color: #222222;
}
